/*
 * Base CSS
 */

* { margin:0; padding:0; }
html, body, button { font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:14px; color:#3b4854; }
body { overflow-x:hidden; }
.fx { -moz-transition:all .6s ease-out; -webkit-transition:all .6s ease-out; -o-transition:all .6s ease-out; }
.hide { display:none; }

 /*
  * Font
  */

h1, h2, h3, h4, h5, h6, p { margin:10px 0; color:#3B4854; }

p { margin:15px 0; line-height:20px; }
h1 { font-size:38px; }
h2 { font-size:30px; }
h3 { font-size:26px; }
h4 { font-size:20px; }
h5 { font-size:16px; }
h6 { font-size:14px; }

.txt-ctr { text-align:center; }
.txt-top { margin-top:60px; }
.h-tte { font-size:48px; font-weight:200; }
.p-tte { font-size:20px; font-weight:200; }

/*
 * Content Scafolding 
 */

.con { margin:0 auto; width:900px; }
.con-mov { width:100%; position:absolute; }

.con-mov + .con-mov { display:none; }

.sp1, .sp2, .sp3, .sp4, .sp5, .sp6, .sp7, .sp8, .sp9 { min-height:1px; margin-left:30px; float:left; }

.sp1 { width:70px; }
.sp2 { width:170px; }
.sp3 { width:270px; }
.sp4 { width:370px; }
.sp5 { width:470px; }
.sp6 { width:570px; }
.sp7 { width:670px; }
.sp8 { width:770px; }
.sp9 { width:870px; }

.sp-fir { margin-left:0; margin-right:30px; }