/*
 * Label CSS
 */

.lbl { padding:0px 4px; display:inline-block; border-radius:4px; font-size:12px; background:#666; color:#fff; }

/*
 * Mutators - Colors
 */

 .lbl-w { background:#d93b3a; }
 .lbl-d { background:#fac657; }
 .lbl-s { background:#00a261; }
 .lbl-b { background:#4688f1; }

 /*
  * Pre CSS
  */

pre { padding:4px 12px; border:1px solid #ddd; border-radius:4px; }