/* 
 * -- Kuba Bootstrap CSS can be used directly or modified to fit any projects unique 
 * -- styling preferences. When using default styles this modifier file is not needed,
 * -- otherwise begin the styling by mods first followed by any other styling attributes. 
 */

/*
 * -- Demo CSS Mods
 */

/*
 * Header
 */

.hdr { padding:0; border-bottom:0; box-shadow:0px 3px 3px rgba(0, 0, 0, 0.1); }
.hdr > .con { height:46px; }

/*
 * Banner
 */

.ban-sub p { line-height:12px; }

/*
 * Container
 */

.con-mov { padding-bottom:80px; }

/*
 * Footer
 */

.fot { position:absolute; bottom:0; }

/*
 * -- Demo CSS Index
 */

 html, body { height:100%; }

.span-demo { margin-left:-30px; }
.span-block { margin-bottom:20px; border-radius:4px; text-align:center; line-height:40px; background:#ddd; color:#fff; }

/*
 * Spacers
 */

.space-d { margin-bottom:40px; }
.space-h { height:200px; }

/*
 * Colors
 */

.b-blue { background:#32EAFF; }
.b-yellow { background:#FFE200; }
.b-green { background:#84F056; }

/*
 * Logo
 */

.dm-logo { width:50px; height:46px; position:absolute; background:#53a93f url(../ico/logo-sm.png) center; }

/*
 * Menu
 */

.dm-mn {  }
.dm-mn .btn { padding:12px 0; margin-right:25px; border:0; border-bottom:2px solid #fff; box-shadow:none; background:#fff; }
.dm-mn .btn:hover, .dm-mn.on .btn { border-bottom:2px solid #53a93f; box-shadow:none; }

/*
 * Container
 */

.dm-con { min-height:300px; position:relative; }
.dm-sp-fir { margin-right:24px; border:2px solid #efefef; border-radius:5px; background:#efefef; }

/*
 * Cards
 */ 

.dm-card { display:none; position:relative; }
.dm-card.on { display:block; }