/*
 * Header CSS
 */

.hdr { padding:10px 0; background:rgba(0,0,0,.5); z-index:100; }

/*
 * Mutators - Stickey
 */

.hdr-top, .hdr-btm { position:fixed; left:0; right:0; }

.hdr-top { top:0; box-shadow:0px 2px 1px rgba(0, 0, 0, 0.05); }
.hdr-btm { bottom:0; box-shadow:0px -2px 1px rgba(0, 0, 0, 0.05); }
