/*
 * Demo CSS
 */

.span-demo { margin-left:-30px; }
.span-block { margin-bottom:20px; border-radius:4px; text-align:center; line-height:40px; background:#ddd; color:#fff; }

/*
 * Spacers
 */

.space-d { margin-bottom:40px; }
.space-h { height:200px; }

/*
 * Colors
 */

 .b-blue { background:#32EAFF; }
 .b-yellow { background:#FFE200; }
 .b-green { background:#84F056; }